@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-page">
    
   

    
        <div class="welcome-text">
            <h1>Coffee   <span class="store"> Store </span> </h1>
            <a href="/Products"><button type="button" class="btn btn-outline-light btn-lg">Products</button></a>

        </div>

    
    </div>
